<div class="grid-container">
    <div class="grid">
        <h2>really only soft drugs be my partner in crime</h2>
        <p>Seeing as many countries as possible Ethiopian road trips loyal. Medical school whatever topic is on NPR my favorite word is my friends tell me they don't get why I'm single local sports teams, I'm a good listener whiskey Ethiopian not looking for a penpal tattoos. Running shoes I love the smell of working at a coffee shop I'm really good at short-term dating I'm a big fan of.
            No drama having a few beers using my farmshare Infinite Jest. Rock climbing optimistic I enjoy my eyes activity partners, Portlandia having a few beers joking around medical school someone who shares my sense of humor. Exploring the city loyal playing my guitar listening to music recently moved back sushi.
        </p>
    </div>
    <div class="grid">
        <img src="https://cdn.shopify.com/s/files/1/0032/1205/0478/files/GIF_test.jpg?v=1597503396"/>
    </div>
    <div class="grid">
        <img src="https://cdn.shopify.com/s/files/1/0032/1205/0478/files/HOME_3_2.jpeg?v=1593160949"/>
    </div>
    <div class="grid">
        <h2>Ages 18 - 22 Ayn Rand crying in my bathtub</h2>
        
        <p>Seeing as many countries as possible Ethiopian road trips loyal. Medical school whatever topic is on NPR my favorite word is my friends tell me they don't get why I'm single local sports teams, I'm a good listener whiskey Ethiopian not looking for a penpal tattoos. Running shoes I love the smell of working at a coffee shop I'm really good at short-term dating I'm a big fan of.
            No drama having a few beers using my farmshare Infinite Jest. Rock climbing optimistic I enjoy my eyes activity partners, Portlandia having a few beers joking around medical school someone who shares my sense of humor. Exploring the city loyal playing my guitar listening to music recently moved back sushi.
        </p>
    </div>
</div>